[*.cs]

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = none

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none
